:root {
    --primary-font-family: "Open Sans", sans-serif;
    --secondary-font-family: "Relawey", sans-serif;
    --accent-color: green;
}

main {
    background-color: tomato;
}

p {
    font-size: 24px;
    color: black;
}

a {
    text-decoration: none;
    color: var(--accent-color);
;
}

